/* line 12, ../sass/queropratica.scss */
::-webkit-scrollbar-track {
  background-color: #707070;
}

/* line 15, ../sass/queropratica.scss */
::-webkit-scrollbar {
  width: 6px;
  background: #303030;
}

/* line 19, ../sass/queropratica.scss */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 5px;
}

/* line 24, ../sass/queropratica.scss */
.title-card-persona {
  font-size: 13px;
  font-weight: bold;
}

/* line 29, ../sass/queropratica.scss */
.title-card-persona__name {
  font-size: 15px;
  font-weight: normal;
}

/* line 34, ../sass/queropratica.scss */
.title-card-persona__infos {
  font-size: 14px;
  margin-bottom: 2px;
}

/* line 39, ../sass/queropratica.scss */
.card-persona-pic {
  background-color: #F9F9F9;
  width: 100%;
}

/* line 44, ../sass/queropratica.scss */
.header-wrapper__personas {
  display: flex;
  align-items: center;
}

/* line 49, ../sass/queropratica.scss */
.form-readlall-article {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* line 53, ../sass/queropratica.scss */
.card-destaque-aluno {
  background-color: #2f2f2f;
  min-height: 399px;
  display: flex;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
/* line 61, ../sass/queropratica.scss */
.card-destaque-aluno > .card-img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: .1;
}
/* line 72, ../sass/queropratica.scss */
.card-destaque-aluno .card-title,
.card-destaque-aluno strong,
.card-destaque-aluno .card-text {
  color: #fff;
}

/* line 79, ../sass/queropratica.scss */
.querop-header-pg {
  background-color: #3870E1;
  min-height: 225px;
  display: flex;
  align-items: flex-end;
}
/* line 85, ../sass/queropratica.scss */
.querop-header-pg h1,
.querop-header-pg .h1,
.querop-header-pg h2,
.querop-header-pg .h2,
.querop-header-pg h3,
.querop-header-pg .h3,
.querop-header-pg h4,
.querop-header-pg .h4,
.querop-header-pg h5,
.querop-header-pg .h5,
.querop-header-pg h6,
.querop-header-pg .h6,
.querop-header-pg p,
.querop-header-pg a,
.querop-header-pg label,
.querop-header-pg strong,
.querop-header-pg small {
  color: #fff;
}
/* line 105, ../sass/queropratica.scss */
.querop-header-pg .btn-light {
  color: #007bff;
}
/* line 108, ../sass/queropratica.scss */
.querop-header-pg .btn-light:hover {
  color: #007bff;
}

/* line 114, ../sass/queropratica.scss */
.querop-card-destaque-aluno {
  display: flex;
  align-items: flex-end;
  position: relative;
}
/* line 119, ../sass/queropratica.scss */
.querop-card-destaque-aluno > .d-flex {
  flex-direction: column;
  width: 100%;
}

/* line 125, ../sass/queropratica.scss */
.querop-wrapper-destaque-card-aluno__footer {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* line 132, ../sass/queropratica.scss */
.card .btn {
  margin: 0 auto 15px 21px;
}

/* line 137, ../sass/queropratica.scss */
.bg-light-gray {
  background-color: #F6F6F6;
}

/* line 141, ../sass/queropratica.scss */
.img-profile-mock {
  background-color: #55595C;
  width: 80px;
  height: 80px;
}

/* line 147, ../sass/queropratica.scss */
.querop-card-persona-mock {
  align-items: center;
  text-align: center;
  padding-top: 23px;
}
/* line 152, ../sass/queropratica.scss */
.querop-card-persona-mock .card-text {
  margin: 0;
}

/* line 157, ../sass/queropratica.scss */
.querop-step {
  color: #000;
  font-size: 17px;
  margin-bottom: 9px;
  display: inline-block;
}
/* line 163, ../sass/queropratica.scss */
.querop-step:hover {
  text-decoration: none;
  color: #000;
}
/* line 168, ../sass/queropratica.scss */
.querop-step.current {
  cursor: pointer;
  opacity: 1;
  font-weight: 600;
  color: #1C7CD5 !important;
}

/* line 177, ../sass/queropratica.scss */
.querop-form-cadastro__ptojeto .form-group {
  margin-bottom: 39px;
}
/* line 181, ../sass/queropratica.scss */
.querop-form-cadastro__ptojeto label.h5 {
  margin-bottom: 16px;
}

/* line 186, ../sass/queropratica.scss */
.navbar {
  background-color: #3870E1 !important;
}
/* line 189, ../sass/queropratica.scss */
.navbar a {
  color: #fff !important;
}

/* line 194, ../sass/queropratica.scss */
.querop-step__li {
  padding: 8px;
}
/* line 197, ../sass/queropratica.scss */
.querop-step__li.active {
  background-color: #F2F2F2;
  box-shadow: -4px 0 0 #3870E1;
}

/* line 203, ../sass/queropratica.scss */
.querop-header-index {
  position: relative;
}

/* line 207, ../sass/queropratica.scss */
.querop-p-blue-sub-title {
  color: #1C7CD5;
  font-size: 24px;
  font-weight: bold;
}

/* line 213, ../sass/queropratica.scss */
.querop-h-index {
  margin: 29px auto 8px;
}

/* line 217, ../sass/queropratica.scss */
.querop-p-blue-sub-title {
  margin: 0 auto;
}

/* line 221, ../sass/queropratica.scss */
.querop-ilustra-index {
  background-image: url(../img/ilustracao-da-home-quero-pratica.jpeg);
  background-position: 47% center;
  background-repeat: no-repeat;
  background-size: 659px;
  padding-bottom: 210px !important;
  background-color: #fff;
}

/* line 230, ../sass/queropratica.scss */
.querop-header-pg {
  padding-bottom: 100px !important;
  background-image: url("../img/folhas.png");
  background-repeat: no-repeat;
  background-position: center 77%;
  background-size: 38%;
}

/* line 237, ../sass/queropratica.scss */
.querop-header-pg + section > .container {
  background-color: #fff;
  margin-top: -100px;
  margin-bottom: 40px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 0 38px;
}

/* line 246, ../sass/queropratica.scss */
.querop-header__bg__menina-deitada {
  background-image: url("../img/garota-deitada.png");
  background-repeat: no-repeat;
  background-position: 69% -122px;
  background-size: 497px;
}

/* line 253, ../sass/queropratica.scss */
.querop-header__bg__menina-sentada {
  background-image: url("../img/menina-sentada.png");
  background-repeat: no-repeat;
  background-position: 69% -55px;
  background-size: 497px;
}
