/* line 11, ../sass/queropratica.scss */
::-webkit-scrollbar-track {
  background-color: #707070;
}

/* line 14, ../sass/queropratica.scss */
::-webkit-scrollbar {
  width: 6px;
  background: #303030;
}

/* line 18, ../sass/queropratica.scss */
::-webkit-scrollbar-thumb {
  background: #303030;
  border-radius: 5px;
}

/* line 23, ../sass/queropratica.scss */
.title-card-persona {
  font-size: 13px;
  font-weight: bold;
}

/* line 28, ../sass/queropratica.scss */
.title-card-persona__name {
  font-size: 15px;
  font-weight: normal;
}

/* line 33, ../sass/queropratica.scss */
.title-card-persona__infos {
  font-size: 14px;
  margin-bottom: 2px;
}

/* line 38, ../sass/queropratica.scss */
.card-persona-pic {
  background-color: #F9F9F9;
  width: 100%;
}

/* line 43, ../sass/queropratica.scss */
.header-wrapper__personas {
  display: flex;
  align-items: center;
}

/* line 48, ../sass/queropratica.scss */
.form-readlall-article {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* line 52, ../sass/queropratica.scss */
.card-destaque-aluno {
  min-height: 399px;
  display: flex;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 59, ../sass/queropratica.scss */
.card-destaque-aluno > .card-img-top {
  background-color: #55595C;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
/* line 70, ../sass/queropratica.scss */
.card-destaque-aluno .card-title,
.card-destaque-aluno strong,
.card-destaque-aluno .card-text {
  color: #fff;
}

/* line 77, ../sass/queropratica.scss */
.querop-header-pg {
  min-height: 225px;
  display: flex;
  align-items: flex-end;
}

/* line 83, ../sass/queropratica.scss */
.querop-card-destaque-aluno {
  display: flex;
  align-items: flex-end;
  position: relative;
}
/* line 88, ../sass/queropratica.scss */
.querop-card-destaque-aluno > .d-flex {
  flex-direction: column;
  width: 100%;
}

/* line 94, ../sass/queropratica.scss */
.querop-wrapper-destaque-card-aluno__footer {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* line 101, ../sass/queropratica.scss */
.card .btn {
  margin: 0 auto 15px 21px;
}

/* line 106, ../sass/queropratica.scss */
.bg-light-gray {
  background-color: #F6F6F6;
}

/* line 110, ../sass/queropratica.scss */
.img-profile-mock {
  background-color: #55595C;
  width: 80px;
  height: 80px;
}

/* line 116, ../sass/queropratica.scss */
.querop-card-persona-mock {
  align-items: center;
  text-align: center;
  padding-top: 23px;
}
/* line 121, ../sass/queropratica.scss */
.querop-card-persona-mock .card-text {
  margin: 0;
}

/* line 126, ../sass/queropratica.scss */
.querop-step {
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.4;
  color: #000;
  font-size: 20px;
  margin-bottom: 9px;
  display: inline-block;
}
/* line 135, ../sass/queropratica.scss */
.querop-step:hover {
  text-decoration: none;
  color: #000;
}
/* line 140, ../sass/queropratica.scss */
.querop-step.querop-step__able, .querop-step.querop-step__current {
  cursor: pointer;
  opacity: 1;
  font-weight: 600;
}
/* line 147, ../sass/queropratica.scss */
.querop-step.querop-step__current {
  color: #1C7CD5;
}

/* line 153, ../sass/queropratica.scss */
.querop-form-cadastro__ptojeto .form-group {
  margin-bottom: 39px;
}
