<div class="main" ng-controller="MentorController as mentorController">
    <div>
        <acme-navbar />
    </div>
    <header class="jumbotron jumbotron-fluid pb-4 mb-0 querop-header-pg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="h3">Meus Projetos <a href="" class="btn btn-light">+ Novo Projeto</a></h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row py-5">
                <div class="col">
                    <div class="row mb-5">
                        <div class="card-deck">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Gerenciando ferramentas ágeis dentro de projetos</h5>
                                    <strong>Projeto Prático</strong>
                                    <p class="card-text">Carlos da Silva, Lucas Silva e Silva</p>
                                </div>
                                <a href="" class="btn btn-outline-primary">Acessar</a>
                                <div class="card-footer">
                                    <small class="text-muted">Publicado: 01/06/2019</small>
                                </div>
                            </div>
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Gerenciando ferramentas ágeis dentro de projetos</h5>
                                    <strong>Projeto Prático</strong>
                                    <p class="card-text">Carlos da Silva, Lucas Silva e Silva</p>
                                </div>
                                <a href="" class="btn btn-outline-primary">Acessar</a>
                                <div class="card-footer">
                                    <small class="text-muted">Publicado: 01/06/2019</small>
                                </div>
                            </div>
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Gerenciando ferramentas ágeis dentro de projetos</h5>
                                    <strong>Projeto Prático</strong>
                                    <p class="card-text">Carlos da Silva, Lucas Silva e Silva</p>
                                </div>
                                <a href="" class="btn btn-outline-primary">Acessar</a>
                                <div class="card-footer">
                                    <small class="text-muted">Publicado: 01/06/2019</small>
                                </div>
                            </div>
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Gerenciando ferramentas ágeis dentro de projetos</h5>
                                    <strong>Projeto Prático</strong>
                                    <p class="card-text">Carlos da Silva, Lucas Silva e Silva</p>
                                </div>
                                <a href="" class="btn btn-outline-primary">Acessar</a>
                                <div class="card-footer">
                                    <small class="text-muted">Publicado: 01/06/2019</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Próximo</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="card-deck row mb-5 ">
                <h2 class="h4 mb-4 col-12">Últimos projetos publicados</h2>
                <main-card item="project" class="card" ng-repeat="project in mentorController.projects">
                </main-card>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Próximo</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="bg-light-gray py-4">
        <div class="container">
            <div class="row mt-5">
                <h2 class="h4 mb-4">Alunos que
                    podem se interessar
                    pelos seus projetos</h2>
                <div class="card-deck">
                    <div ng-repeat="mentor in mentorController.mentors">
                        <card-mentor item="mentor"></card-mentor>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <dir-disqus config="disqusConfig"></dir-disqus>
    </section>

</div>
