@import "compass/css3";

$color-base-01: #F9F9F9;
$color-base-image: #55595C;
$color-white: #fff;
$bg-light-gray: #F6F6F6;
$color-black: #000;
$color-link-current: #1C7CD5;
$color-header-bg: #3870E1;


::-webkit-scrollbar-track {
    background-color: #707070;
 }
 ::-webkit-scrollbar {
    width: 6px;
    background: #303030;
 }
 ::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius:5px;
 }

 .title-card-persona {
     font-size: 13px;
     font-weight: bold;
 }

.title-card-persona__name {
    font-size: 15px;
    font-weight: normal;
}

.title-card-persona__infos {
    font-size: 14px;
    margin-bottom: 2px;
}

.card-persona-pic {
    background-color: $color-base-01;
    width: 100%;
}

.header-wrapper__personas {
    display: flex;
    align-items: center;
}

.form-readlall-article {
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.card-destaque-aluno {
    background-color: #2f2f2f;
    min-height: 399px;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    & > .card-img-top {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: .1;

    }

    .card-title,
    strong,
    .card-text {
        color: $color-white;
    }
}

.querop-header-pg {
    background-color: $color-header-bg;
    min-height: 225px;
    display: flex;
    align-items: flex-end;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    p,
    a,
    label,
    strong,
    small {
        color: $color-white;
    }

    .btn-light {
        color: #007bff;

        &:hover {
            color: #007bff;
        }
    }
}

.querop-card-destaque-aluno {
    display: flex;
    align-items: flex-end;
    position: relative;

    & > .d-flex {
        flex-direction: column;
        width: 100%;
    }
}

.querop-wrapper-destaque-card-aluno__footer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card {
    .btn {
        margin: 0 auto 15px 21px;
    }
}

.bg-light-gray {
    background-color: $bg-light-gray;
}

.img-profile-mock {
    background-color: $color-base-image;
    width: 80px;
    height: 80px;
}

.querop-card-persona-mock {
    align-items: center;
    text-align: center;
    padding-top: 23px;

    .card-text {
        margin: 0;
    }
}

.querop-step {
    color: #000;
    font-size: 17px;
    margin-bottom: 9px;
    display: inline-block;
    
    &:hover {
        text-decoration: none;
        color: #000;
    }

    &.current {
        cursor: pointer;
        opacity: 1;
        font-weight: 600;
        color: $color-link-current !important;
    }
}

.querop-form-cadastro__ptojeto {
    .form-group {
        margin-bottom: 39px;
    }

    label.h5 {
        margin-bottom: 16px;
    }
}

.navbar {
    background-color: $color-header-bg !important;

    a {
        color: $color-white !important;
    }
}

.querop-step__li {
    padding: 8px;

    &.active {
        background-color: #F2F2F2;
        box-shadow: -4px 0 0 $color-header-bg;
    }
}

.querop-header-index {
    position: relative;
}

.querop-p-blue-sub-title {
    color: $color-link-current;
    font-size: 24px;
    font-weight: bold;
}

.querop-h-index {
    margin: 29px auto 8px;
}

.querop-p-blue-sub-title {
    margin: 0 auto;
}

.querop-ilustra-index {
    background-image: url(../img/ilustracao-da-home-quero-pratica.jpeg);
    background-position: 47% center;
    background-repeat: no-repeat;
    background-size: 659px;
    padding-bottom: 210px !important;
    background-color: #fff;
}