<div class="main" ng-controller="ProjectManageController as projectManageController">
    <div>
        <acme-navbar />
    </div>
    <header class="jumbotron jumbotron-fluid pb-4 mb-0 querop-header-pg">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <strong>Projetos > Administração > Projetos Práticos</strong>
                    <h1 class="h2">Redesenho de processos</h1>
                </div>
                <div class="col-md-5 header-wrapper__personas justify-content-end">
                    <div class="row no-gutters">
                        <div class="col-md-10">
                            <div class="row">
                                <p class="col-12 title-card-persona">ALUNO</p>
                                <div class="col-md-4">
                                    <img src="/assets/images/aluno.jpg" class="card-img rounded-circle card-persona-pic" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <h5 class="card-title title-card-persona__name"><strong>Guilherme Mantorini</strong></h5>
                                    <P class="title-card-persona__infos">Estudante de Engenharia de materiais</P>
                                    <P class="title-card-persona__infos">4º Ano</P>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <h2 class="h4 mt-5 pt-5">Atividades do Projeto</h2>
            <div class="row py-5">
                <ul class="col-md-4">
                    <li class="querop-step__li" ng-click='vm.isAnteProjetoClicked = true'>
                        <a class="querop-step">Ante-Projeto <span ng-if='vm.isAnteProjetoClicked'
                                class="badge badge-pill badge-success">Ok</span></a>
                    </li>
                    <li class="querop-step__li" ng-click='vm.isDiagnosticoClicked = true'>
                        <a class="querop-step">Diagnóstico de Processo <span ng-if='vm.isDiagnosticoClicked'
                                class="badge badge-pill badge-success">Ok</span></a>
                    </li>
                    <li class="querop-step__li" ng-click="projectManageController.changeForm('levantamento'); vm.isLevantamentoClicked = true"
                        ng-class="{'active': projectManageController.displayLevantamento}">
                        <a class="querop-step">Levantamento de Soluções <span ng-if='vm.isLevantamentoClicked'
                                class="badge badge-pill badge-success">Ok</span></a>
                    </li>
                    <li class="querop-step__li" ng-click='vm.isDesenhoClicked = true'>
                        <a class="querop-step">Desenho do Novo Processo <span ng-if='vm.isDesenhoClicked'
                                class="badge badge-pill badge-success">Ok</span></a>
                    </li>
                    <li class="querop-step__li" ng-click='vm.isAplicacaoClicked = true'>
                        <a class="querop-step">Aplicação do Novo Processo <span ng-if='vm.isAplicacaoClicked'
                                class="badge badge-pill badge-success">Ok</span></a>
                    </li>
                    <li class="querop-step__li" ng-click="projectManageController.changeForm('relatorio')"
                        ng-class="{'active': projectManageController.displayRelatorio}">
                        <a class="querop-step">Relatório</a>
                    </li>
                </ul>

                <div class="col-md-8" ng-if="projectManageController.displayLevantamento">
                    <h2 class="h3">Levantamento de Problemas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis odio nibh, in venenatis ante
                        lobortis sit amet. In posuere viverra cursus. Vestibulum rutrum turpis vel dui tempor, nec
                        faucibus neque bibendum. Quisque in dolor turpis. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean efficitur augue et posuere euismod. Ut odio sapien, aliquam eu commodo
                        eget, cursus nec nibh.</p>

                    <hr>

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-anexo-tab" data-toggle="pill" href="#pills-anexo"
                                role="tab" aria-controls="pills-anexo" aria-selected="true">Anexo</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-anexo" role="tabpanel"
                            aria-labelledby="pills-anexo-tab">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h3 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Compartilhados por você (1)
                                            </button>
                                        </h3>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <input type="file" class="form-control-file">
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h3 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Compartilhados por você (2)
                                            </button>
                                        </h3>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                            assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                            wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                            vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore
                                            sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-mensagem" role="tabpanel"
                            aria-labelledby="pills-mensagem-tab">DISCUSS</div>
                    </div>

                    <section>
                        <h3 class="mt-5 h4">Mensagens</h3>
                        <dir-disqus config="disqusConfig"></dir-disqus>
                    </section>
                </div>

                <div class="col-md-8" ng-if="projectManageController.displayRelatorio">
                    <h2 class="h3">Relatório</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis odio nibh, in venenatis ante
                        lobortis sit amet. In posuere viverra cursus. Vestibulum rutrum turpis vel dui tempor, nec
                        faucibus neque bibendum. Quisque in dolor turpis. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Aenean efficitur augue et posuere euismod. Ut odio sapien, aliquam eu commodo
                        eget, cursus nec nibh.</p>

                    <hr>

                    <form class="querop-form-cadastro__ptojeto">
                        <div class="form-group">
                            <label for="projectSummary" class="h5">O que foi feito:</label>
                            <textarea class="form-control" id="projectSummary" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="projectSummaryHow" class="h5">Como foi feito:</label>
                            <textarea class="form-control" id="projectSummaryHow" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="projectSummaryConclusions" class="h5">Conclusões e Resultados:</label>
                            <textarea class="form-control" id="projectSummaryConclusions" rows="3"></textarea>
                        </div>

                        <input type="submit" value="Próximo" class="btn btn-primary"
                            ng-click="projectManageController.goToProspect()">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
