<div class="main" ng-controller="HomeController as homeController">
    <div>
        <acme-navbar />
    </div>
    <header class="jumbotron jumbotron-fluid pb-4 mb-0 querop-header-index querop-ilustra-index">
        <div class="container">
            <div class="row text-center">
                <h1 class="querop-h-index"><strong>QUERO</strong>PRÁTICA</h1>
                <p class="querop-p-blue-sub-title">Uma oportunidade única de aplicar conhecimentos obtidos na faculdade
                    <br>
                    de forma prática, acompanhada por ex-alunos da faculdade e em casos reais.
                </p>

                <div class="row w-100 d-flex align-content-center" style="margin-top: 162px;">
                    <div class="col-md-3 text-right">
                        <label for="persona-student" class="h5"><strong>Para Estudantes</strong></label>
                        <p id="persona-student">A possibilidade de aprender conceitos na prática, com projetos reais e
                            conhecer profissionais</p>
                        <a class="btn btn-outline-primary"
                            ng-click="homeController.goToStudent()">Acessar como Estudante</a>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-3 text-left">
                        <label for="persona-mentor" class="h5"><strong>Para Mentores</strong></label>
                        <p id="persona-mentor">Encontrar estudantes para lhes
                            <br>ajudarem a resolver cases reais
                            <br>e disseminarem conhecimento</p>
                        <a class="btn btn-outline-primary"
                            ng-click="homeController.goToMentor()">Acessar como Mentor(a)</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
</div>
